#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    # app related
    app-name: 'Sokol Košetice Share'
    # possible values:
    #   - sokol_kosetice
    #   - kolem_dokola
    app-code-name: 'sokol_kosetice'
    app-year: null
    app-support-mail: 'info@sokolkosetice.cz'
    # use only format YYYY-MM-DD HH:MM:SS
    app-valid-from: null # null means valid all time
    app-valid-to: null # null means valid all time

    # event app belong to related params
    event-date: null
    event-time-from: null
    event-time-to: null
    fb-event-url: null

    # see adapter factory for names
    notifications:
        sokol_kosetice:
            filesystemuploadadapter:
                from: 'share@sokolkosetice.cz'
                to: ['info@sokolkosetice.cz']
                subject: 'New content uploaded'
                message: 'New files (%s) uploaded to match "%s".'

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days

php:
    date.timezone: Europe/Prague

services:
    adapterFactory: \App\Model\Adapters\AdapterFactory

    configParamsService:
        class: App\Model\Services\ConfigParams([
            'appName' = %app-name%,
            'appCodeName' = %app-code-name%,
            'appYear' = %app-year%,
            'appSupportMail' = %app-support-mail%,
            'appValidFrom' = %app-valid-from%,
            'appValidTo' = %app-valid-to%,
            'eventDate' = %event-date%,
            'eventTimeFrom' = %event-time-from%,
            'eventTimeTo' = %event-time-to%,
            'fbEventUrl' = %fb-event-url%,
            'notifications' = %notifications%,
            ]
        )

extensions:
